/* https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */

body{
	text-align: center;
}
@media screen and (min-width: 1000px){      
      .reg{        
        content:url("images/kitten-small.png");
      } 
	  body{
		  background-color: yellow;
	  }
}

@media screen and (min-width: 1200px) {      
    .reg{      
       content:url("images/kitten-medium.png");
     }
	 body{
		 background-color: orange;
	 }
} 
@media screen and (min-width: 1400px){   
    .reg{      
        content:url("images/kitten-large.png");
    }	
	body{
		background-color: red;
	}
}
@media screen and (max-width: 999px) {    
     .reg{         
         content:url("images/kittyloaf.gif");   
     } 
	 body{
		 background-color: green;
	 }
}
@media screen and (max-width:950px){
		.popup{
			content:url("images/kitten-small.png");
		}
}
